<article class="listing pl-2">
  <div class="title">
    <a href="/listings/{{id}}">{{item}}</a>
  </div>
  <div class="meta">
    <img class="icons" width="200px" height="200px" src="{{category.image_id}}" alt="{{category.label}}">
    Category: {{category.label}}
  </div>
</article>